In [121]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [122]:
df = pd.read_csv("Julio_Catalogo_Region.csv")

In [123]:
df.head()

,Ad Account ID,Ad Account Name,Reporting starts,Reporting ends,Ad name,Region,Ad delivery,Ad Set Name,Bid,Bid type,...,Website purchases conversion value,Meta Purchase Conversion Value,Campaign ID,Page engagement,Post engagement,Post reactions,Post comments,CPC (cost per link click) (MXN),Page likes,CTR (all)
0,920962708581993,albana_ad,7/19/2022,7/30/2022,Catalogo_Ad_Julio,Unknown,inactive,Catalogo_AdSet_Julio,0,CPA,...,NaN,NaN,23851903914600173,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
1,920962708581993,albana_ad,7/19/2022,7/30/2022,Catalogo_Ad_Julio,Aguascalientes,inactive,Catalogo_AdSet_Julio,0,CPA,...,NaN,NaN,23851903914600173,17.0,17.0,NaN,NaN,0.366471,NaN,2.252816
2,920962708581993,albana_ad,7/19/2022,7/30/2022,Catalogo_Ad_Julio,Baja California,inactive,Catalogo_AdSet_Julio,0,CPA,...,NaN,NaN,23851903914600173,22.0,22.0,NaN,NaN,0.390476,NaN,0.754030
3,920962708581993,albana_ad,7/19/2022,7/30/2022,Catalogo_Ad_Julio,Baja California Sur,inactive,Catalogo_AdSet_Julio,0,CPA,...,NaN,NaN,23851903914600173,16.0,16.0,NaN,NaN,0.377500,NaN,2.805281
4,920962708581993,albana_ad,7/19/2022,7/30/2022,Catalogo_Ad_Julio,Campeche,inactive,Catalogo_AdSet_Julio,0,CPA,...,NaN,NaN,23851903914600173,16.0,16.0,NaN,NaN,0.392500,NaN,1.946472

In [124]:
df.columns

Index(['Ad Account ID', 'Ad Account Name', 'Reporting starts',
       'Reporting ends', 'Ad name', 'Region', 'Ad delivery', 'Ad Set Name',
       'Bid', 'Bid type', 'Ad set budget', 'Ad set budget type',
       'Last significant edit', 'Results', 'Result indicator', 'Reach',
       'Impressions', 'Cost per results', 'Quality ranking',
       'Engagement rate ranking', 'Conversion rate ranking',
       'Amount spent (MXN)', 'Ends', 'Result rate', 'Frequency', 'Link clicks',
       'Unique link clicks', 'Clicks (all)', 'Landing page views', 'Purchases',
       'Mobile app purchases', 'Website purchases', 'Meta Purchases',
       'Purchases conversion value', 'Mobile app purchases conversion value',
       'Website purchases conversion value', 'Meta Purchase Conversion Value',
       'Campaign ID', 'Page engagement', 'Post engagement', 'Post reactions',
       'Post comments', 'CPC (cost per link click) (MXN)', 'Page likes',
       'CTR (all)'],
      dtype='object')

In [125]:
# Regiones con mas link clicks 
temp_df = df.groupby("Region")[["Link clicks", "Impressions", "Reach"]].sum().reset_index().sort_values(by = "Link clicks", ascending = False).reset_index(drop = True)

temp_df["Result rate"] = temp_df["Link clicks"] * 100 / temp_df["Reach"]

temp_df.sort_values(by = "Result rate", ascending = False)

freq_df = df.groupby("Region")["Frequency"].mean().reset_index()

temp_df = pd.merge(temp_df, freq_df, on = "Region", how = "left")

temp_df[:20]

,Region,Link clicks,Impressions,Reach,Result rate,Frequency
0,State of Mexico,266.0,12213,10224,2.601721,1.171431
1,Distrito Federal,253.0,9611,7824,3.233640,1.196173
2,Veracruz,214.0,10552,8716,2.455255,1.189818
3,Puebla,136.0,5969,5128,2.652106,1.157681
4,Jalisco,117.0,6770,5968,1.960456,1.196435
5,Chiapas,107.0,6020,5260,2.034221,1.135697
6,Tamaulipas,97.0,6075,5592,1.734621,1.114400
7,Michoacán de Ocampo,92.0,5853,5331,1.725755,1.071905
8,Nuevo León,89.0,5278,4076,2.183513,1.295342
9,Oaxaca,88.0,5905,5184,1.697531,1.115946
10,Guanajuato,85.0,5477,4840,1.756198,1.140858
11,Sinaloa,85.0,4531,3892,2.183967,1.168026
12,Hidalgo,81.0,4392,3740,2.165775,1.164048
13,San Luis Potosi,77.0,3370,2996,2.570093,1.180505
14,Tabasco,76.0,3595,3164,2.402023,1.148648
15,Guerrero,76.0,4784,3860,1.968912,1.253234
16,Chihuahua,74.0,4249,3852,1.921080,1.090122
17,Sonora,51.0,3903,3568,1.429372,1.130472
18,Yucatán,50.0,2875,2272,2.200704,1.254576
19,Coahuila de Zaragoza,48.0,3568,3024,1.587302,1.144485

In [126]:
# Cost Per Link Click - Amount Spent 
df_amount = df.groupby("Region")["Amount spent (MXN)"].sum().reset_index()

df_cpc = df.groupby("Region")["CPC (cost per link click) (MXN)"].mean().reset_index()

df_union = pd.merge(df_amount, df_cpc, how = "left", on = "Region")

temp_df = pd.merge(df_union.reset_index(drop = True), temp_df, on = "Region")

temp_df.sort_values(by = "CPC (cost per link click) (MXN)")[:20].reset_index(drop = True)

,Region,Amount spent (MXN),CPC (cost per link click) (MXN),Link clicks,Impressions,Reach,Result rate,Frequency
0,Baja California Sur,12.32,0.379167,30.0,1129,944,3.177966,1.217082
1,San Luis Potosi,29.58,0.386428,77.0,3370,2996,2.570093,1.180505
2,Tlaxcala,14.37,0.394286,36.0,1787,1540,2.337662,1.146373
3,Tamaulipas,38.11,0.396873,97.0,6075,5592,1.734621,1.114400
4,Puebla,53.24,0.397756,136.0,5969,5128,2.652106,1.157681
5,Chiapas,42.10,0.401237,107.0,6020,5260,2.034221,1.135697
6,Aguascalientes,8.34,0.401601,22.0,1294,1223,1.798855,1.108523
7,Morelos,13.20,0.403705,35.0,2063,1932,1.811594,1.067544
8,Oaxaca,35.62,0.405083,88.0,5905,5184,1.697531,1.115946
9,Guanajuato,34.75,0.405443,85.0,5477,4840,1.756198,1.140858
10,Yucatán,20.02,0.405774,50.0,2875,2272,2.200704,1.254576
11,Distrito Federal,100.20,0.409906,253.0,9611,7824,3.233640,1.196173
12,Colima,4.36,0.411429,11.0,997,808,1.361386,1.188571
13,Tabasco,30.91,0.413015,76.0,3595,3164,2.402023,1.148648
14,Zacatecas,11.44,0.413720,28.0,1813,1770,1.581921,1.018604
15,Veracruz,86.41,0.414161,214.0,10552,8716,2.455255,1.189818
16,Michoacán de Ocampo,37.01,0.416218,92.0,5853,5331,1.725755,1.071905
17,State of Mexico,108.71,0.416708,266.0,12213,10224,2.601721,1.171431
18,Jalisco,48.35,0.417349,117.0,6770,5968,1.960456,1.196435
19,Guerrero,31.12,0.418417,76.0,4784,3860,1.968912,1.253234